description "Vine process"

start on (local-filesystems and net-device-up IFACE=lo and runlevel [2345])
stop on runlevel [06]

pre-start script

bash << "EOF"
  echo "make some logs here or something"
EOF

end script