.grippie {
  width: 100%;
  border: 1px solid #dddddd;
  border-width: 1px 0px;
  cursor: row-resize;
  height: 11px;
  overflow: hidden;
  background-color: #eeeeee;
  display:block {}
  background: image-url("grippie.png") #eeeeee no-repeat center 3px;
}