.quote {
  border-left: 5px solid darken(#F1F1F1, 20%);
  background-color: #f1f1f1;
  padding: 10px 0;

  .title {
    padding: 0 10px 10px 12px;
  }

  blockquote {
    padding: 0 4px 0 12px;
    margin: 0;
    border: none;

    p {
      margin: 0 5px 5px 0;
      font-size: 14px;
      font-weight: normal
    }
  }
}


.quote-controls {
  float: right;
  color: #aaa;

  a { margin: 0; }
}