@import "bourbon";

$fa-font-path: "/font";
@import "font-awesome/font-awesome";

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
}

a {
  cursor: pointer;
}

input:-moz-placeholder {
  color: #888;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: italic;
}
input:-ms-input-placeholder {
  color: #888;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 15px;
}
input::-webkit-input-placeholder {
  color: #888;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 15px;
}

.form-group {
  label {
    margin: 5px 0;
  }
}

.form-control.borderless {
  background: none;
  border: none;
  border-radius: 0;
  @include box-shadow(none);
  border-bottom: 1px solid #888;

  &:focus, &:hover {
    border-radius: 0;
    @include box-shadow(none);
    border-bottom: 1px solid #222;
  }
}

// 
//// HEADER
//

.navbar-brand img {
  vertical-align: top;
}

.navbar-nav li.notification-tab > a{
  color: #AAA;
}

// 
//// AUTH
//

.password_strength_container {
  position: relative;
  width: 100%;
  margin: 2px 0 10px 0;
  height: 10px;

  .password_strength {
    height: 4px;
    background-color: #c81818;
    width: 0;
    position: absolute;
    left: 0;

    &.strength-0 { width: 20%; background-color: #c81818; }
    &.strength-1 { width: 40%; background-color: #c81818; }
    &.strength-2 { width: 60%; background-color: #E28F00; }
    &.strength-3 { width: 80%; background-color: #8AA050; }
    &.strength-4 { width: 100%; background-color: #27B30F; }
  }

  .password_strength_bg {
    height: 4px;
    background-color: #DBD7D7;
    width: 100%;
    position: absolute;
    left: 0;
  }

  .password_strength_separator {
    height: 4px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .password_strength_desc {
    float: right;
    margin-top: 6px;
    line-height: 16px;
    font-size: 12px;

    &.strength-0 { color: #c81818; }
    &.strength-1 { color: #c81818; }
    &.strength-2 { color: #E28F00; }
    &.strength-3 { color: #8AA050; i { display: none; } }
    &.strength-4 { color: #27B30F; i { display: none; } }
  }
}

.modal {
  .password-confirmation {
    display: none;
  }

  #forgot-password-link {
    float: right;
  }

  .instruction label {
    color: #666;
  }

  .login-action {
    text-align: center;
    margin-top: 20px;

    .btn-login {
      text-transform: uppercase;
    }

    p {
      margin: 10px 0;
    }

    .login-buttons {
      margin-top: 20px;

      .btn-social {
        font-size: 18px;
        font-weight: bold;
        margin: 0 5px;

        i {
          font-size: 18px;
        }
      }
    }
  }
}

// 
// COMPONENTS
// 

#spinner {
  margin-top: 50px;
}