@import "bourbon";
@import "magnific";

$fa-font-path: "/font";
@import "font-awesome/font-awesome";

html {
  overflow-y: scroll;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
}

a {
  cursor: pointer;
}

input:-moz-placeholder {
  color: #888;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: normal;
}
input:-ms-input-placeholder {
  color: #888;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: normal;
}
input::-webkit-input-placeholder {
  color: #888;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: normal;
}

// 
//// HEADER
//

.navbar-brand img {
  vertical-align: top;
}

.navbar-nav li.notification-tab > a{
  color: #AAA;
}

// 
//// AUTH
//

.password_strength_container {
  position: relative;
  width: 100%;
  margin: 2px 0 10px 0;
  height: 10px;

  .password_strength {
    height: 4px;
    background-color: #c81818;
    width: 0;
    position: absolute;
    left: 0;

    &.strength-0 { width: 20%; background-color: #c81818; }
    &.strength-1 { width: 40%; background-color: #c81818; }
    &.strength-2 { width: 60%; background-color: #E28F00; }
    &.strength-3 { width: 80%; background-color: #8AA050; }
    &.strength-4 { width: 100%; background-color: #27B30F; }
  }

  .password_strength_bg {
    height: 4px;
    background-color: #DBD7D7;
    width: 100%;
    position: absolute;
    left: 0;
  }

  .password_strength_separator {
    height: 4px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .password_strength_desc {
    float: right;
    margin-top: 6px;
    line-height: 16px;
    font-size: 12px;

    &.strength-0 { color: #c81818; }
    &.strength-1 { color: #c81818; }
    &.strength-2 { color: #E28F00; }
    &.strength-3 { color: #8AA050; i { display: none; } }
    &.strength-4 { color: #27B30F; i { display: none; } }
  }
}

.modal {
  .password-confirmation {
    display: none;
  }

  #forgot-password-link {
    position: absolute;
    right: 20px;
    top: 12px;
  }

  .instruction label {
    color: #666;
  }

  .login-action,
  .create-account-action {
    text-align: center;
    margin-top: 20px;

    p {
      margin: 10px 0;
    }

    .login-buttons,
    .create-account-buttons {
      margin-top: 20px;

      .btn {
        display: inline-block;
        width: 47.5%;
      }

      .btn-primary {
        margin-right: 5%;
        float: left;
      }
    }

    .connect-buttons {
      &:before,
      &:after {
        display: table;
        content: "";
      }

      &:after {
        clear: both;
      }

      .btn  {
        float: left;
        width: 210px;
        padding: 0;
        background: none;
        color: #546673;
        text-align: center;
        border: none;

        &.google { span { background-color: #D34836; } }
        &.persona { span { background-color: #F59C28; i { color: #505351; } } }

        span {
          display: inline-block;
          padding: 15px;
          border-radius: 64px;
          line-height: 26px;
          @include transform(scale(1));
          @include transition(all 0.2s ease 0s);

          &:hover {
            @include transform(scale(1.05));
          }

          i {
            color: #FFF;
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            font-size: 40px;
          }
        }
      }
    }
  }
}

// 
// MESSAGES
//

#messages > ul {
  margin: 0;
  padding: 0;
}

.message-view {
  list-style: none;
  margin-bottom: 30px;

  .col-sm-11 { 
    padding-left: 0;
    background: #F5F5F5;
    border-radius: 3px;
    padding: 5px 10px;
  }

  .avatarbit {
    text-align: right;

    img {
      width: 45px;
      max-height: 45px;
      border-radius: 3px;
    }
  }

  .userbit {
    font-size: 12px;
    
    .author {
      a:hover { text-decoration: none; }
    }
  }

  .message {
    padding-top: 15px;
  }
  
  time,
  .action-row a {
    color: rgba(34, 59, 74, 0.5);
    font-size: 13px;
  }

  .action-row {
    float: right;
    
    a:hover {
      color: #222;
      text-decoration: none;
    }
  }
}

// 
// COMPONENTS
//

.bullet {
  padding: 0 4px;
  font-size: 75%;
  color: #ccc;
  line-height: 1.4;
}

#spinner {
  margin-top: 50px;
}

.profiler-results {
  top: 52px !important;
}